<ion-header>
  <ion-toolbar>
    <ion-title>Chop Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #scrollScreen scrollEvents="true">

  <div *ngFor="let item of list">
    <app-item-card [itemData]="item"></app-item-card>
  </div>
  <div text-center>
    <ion-text *ngIf="listEnd && !downloadingFlag" color="lightBlue">You checked all posts!</ion-text>
  </div>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="nextBatch($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Downloading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-button *ngIf="listEnd" (click)="refreshButtonNextBatch(null)" fill="solid" expand="block" [color]="refreshClicked ? 'lightBlue' : 'pink'">
    Refresh
  </ion-button>


</ion-content>