<ion-header>
  <ion-toolbar>
    <ion-title>Chop Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #scrollScreen scrollEvents="true">

  <ion-card *ngFor="let item of list">
    <ion-card-header>
      <ion-card-title>{{
        item.value['basicInfo']['itemBrand'] + ' ' +
        item.value['basicInfo']['itemName'] }}</ion-card-title>
      <ion-card-subtitle>{{item.value['basicInfo']['itemNickName']}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="item.value['imageDownLoadUrl'][0]"></ion-img>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="nextBatch($event)" loadingSpinner="bubbles" loadingText="Loading more data...">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>






</ion-content>