<ion-header>
  <ion-toolbar>
    <ion-title>Selling Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="sellingInfoForm">
    <ion-item>
      <ion-label>Shipping Cost Coverage</ion-label>
      <ion-select formControlName="shippingCoverage" [interfaceOptions]="shippingCostActionSheet" interface="action-sheet"
        placeholder="Select One">
        <ion-select-option value="3">Full Coverage</ion-select-option>
        <ion-select-option value="2">Share/Half</ion-select-option>
        <ion-select-option value="1">No Coverage</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="shippingCoverage.touched && shippingCoverage.hasError('required')">
      Shipping Coverage Required!
    </ion-text>

    <div formGroupName="contactInfo">
      <ion-item>
        <ion-label>Contact type</ion-label>
        <ion-select formControlName="contactType" [interfaceOptions]="contactTypeActionSheet" interface="action-sheet" 
          placeholder="Select One">
          <ion-select-option value="wechat">WeChat</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="contactType.touched && contactType.hasError('required')">
        Contact Type Required!
      </ion-text>


      <ion-item>
        <ion-label position="floating">Account Number</ion-label>
        <ion-input formControlName="accountNumber" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="accountNumber.touched && accountNumber.hasError('required')">  
        Account Number Required!
      </ion-text>
    </div>

    <div formGroupName="itemAddress">
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="city.touched && city.hasError('required')">
        City Required!
      </ion-text>

      <ion-item>
        <ion-label>State</ion-label>
        <ion-select formControlName="state" [interfaceOptions]="addressStateActionSheet" interface="action-sheet"
          placeholder="Select One">
          <ion-select-option [value]="state['key']" *ngFor="let state of allStates">{{state['value']}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="state.touched && state.hasError('required')">
        State Required!
      </ion-text>
    </div>
    <ion-button (click)="dismissModal()">Next</ion-button>
  </form>
</ion-content>