<ion-header>
  <ion-toolbar>
    <ion-title>Selling Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form *ngIf="checkInit" [formGroup]="sellingInfoForm">
    <ion-item>
      <ion-label color="pink">*Shipping Cost Coverage</ion-label>
      <ion-select (ionChange)="shippingCostOnChange()" (ionCancel)="shippingCostOnCancel()" formControlName="shippingCoverage"
        [interfaceOptions]="shippingCostActionSheet" interface="action-sheet" placeholder="Select One">
        <ion-select-option value="3">Full Coverage</ion-select-option>
        <ion-select-option value="2">Share/Half</ion-select-option>
        <ion-select-option value="1">No Coverage</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-chip color="danger" *ngIf="shippingCostValidator">
      <ion-label>Shipping Coverage Required!</ion-label>
    </ion-chip>

    <div formGroupName="contactInfo">
      <ion-item>
        <ion-label color="lightblue">Contact type(optional)</ion-label>
        <ion-select formControlName="contactType" [interfaceOptions]="contactTypeActionSheet" interface="action-sheet"
          placeholder="Select One">
          <ion-select-option value="wechat">WeChat</ion-select-option>
          <ion-select-option value="phone" type="number">Cell Phone</ion-select-option>
        </ion-select>
      </ion-item>

      <div [ngSwitch]=contactType.value>

        <ion-item *ngSwitchCase="'wechat'">
          <ion-label color="lightblue" position="floating">Wechat Account ID/Name</ion-label>
          <ion-input [attr.disabled]="contactType.value===''" formControlName="accountNumber" type="text"></ion-input>
        </ion-item>
        <ion-item *ngSwitchCase="'phone'">
          <ion-label color="lightblue" position="floating">Phone Number</ion-label>
          <ion-input [attr.disabled]="contactType.value===''" formControlName="accountNumber" type="text"></ion-input>
        </ion-item>
        <ion-item *ngSwitchCase="''">
          <ion-label color="lightblue">Contact Info</ion-label>
          <ion-input [attr.disabled]="contactType.value===''" formControlName="accountNumber" type="text"></ion-input>
        </ion-item>
      </div>


    </div>

    <div formGroupName="itemAddress">
      <ion-item>
        <ion-label color="lightblue" position="floating">City(optional)</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="pink">*State</ion-label>
        <ion-select (ionChange)="addressStateOnChange()" (ionCancel)="addressStateOnCancel()" formControlName="state"
          [interfaceOptions]="addressStateActionSheet" interface="action-sheet" placeholder="Select One">
          <ion-select-option [value]="state['key']" *ngFor="let state of allStates">{{state['value']}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-chip color="danger" *ngIf="addressStateValidator">
        <ion-label>State Required</ion-label>
      </ion-chip>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [attr.disabled]="shippingCoverage.value==='' || state.value===''" 
    (click)="dismissModal()" fill="solid" expand="block" color="primary">Next</ion-button>
  </ion-toolbar>
</ion-footer>