<ion-header>
  <ion-toolbar>
    <ion-title>Detail Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form *ngIf="checkInit" [formGroup]="detailInfoForm">

    <ion-item>
      <ion-label color="lightblue" position="floating">Color Name/Code(optional)</ion-label>
      <ion-input formControlName="colorCode" accept="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="pink">*Capacity Unit</ion-label>
      <ion-select (ionChange)="capacityUnitSelected()" (ionCancel)="capacityUnitCancelled()" formControlName="capacityUnit"
        [interfaceOptions]="capacityUnitActionSheet" interface="action-sheet" placeholder="Select Unit" [selectedText]="capacityUnit.value">
        <ion-select-option value="g">Weight: gram/g</ion-select-option>
        <ion-select-option value="ml">Volume: mliter/ml</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-chip color="danger" *ngIf="capacityUnitTouched">
      <ion-label>Capacity Unit Required!</ion-label>
    </ion-chip>

    <ion-item>
      <ion-label color="pink" position="floating">*Capacity Left: {{capacityUnitAbr}}</ion-label>
      <ion-input [attr.disabled]="capacityUnit.value===''" formControlName="capacityAsSell" type="number"></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="capacityAsSell.touched && (capacityAsSell.value==='' || capacityAsSell.value===null || capacityAsSell.value===undefined)">
      <ion-label>Capacity Left Required!</ion-label>
    </ion-chip>

    <ion-item>
      <ion-label color="lightblue" position="floating">Capacity As New: {{capacityUnitAbr}}(optional)</ion-label>
      <ion-input [attr.disabled]="capacityUnit.value===''" formControlName="capacityAsNew" type="number"></ion-input>
    </ion-item>

    <ion-item [attr.disabled]="expDateNA.value===true">
      <ion-label color="lightblue">Expiration Date(optional)</ion-label>
      <ion-datetime formControlName="expDate" display-format="MM/DD/YYYY" min="2016" max="2025-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="lightblue">Expiration Date Not Available(optional)</ion-label>
      <ion-checkbox formControlName="expDateNA" color="dark"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label color="pink">*Price Cut Level</ion-label>
      <ion-select (ionCancel)="priceNegoCancelled()" formControlName="priceNegotiableLevel" [interfaceOptions]="priceCutLevelActionSheet"
        interface="action-sheet" placeholder="Select One" (ionChange)="priceNegotiableSelectedText()" [selectedText]="priceNegotiableText">
        <ion-select-option value="3">No Chop(won't drop price)</ion-select-option>
        <ion-select-option value="2">Little Chop(some drop on price)</ion-select-option>
        <ion-select-option value="1">Depends(highle depends on mood?)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-chip color="danger" *ngIf="priceNegoTouched">
      <ion-label>Price Cut Level Required!</ion-label>
    </ion-chip>

    <ion-item>
      <ion-textarea rows="4" formControlName="briefDescription" placeholder="(optional)Description: why you sell? what is it good for? ..."></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [attr.disabled]="
      capacityUnit.value==='' || 
      capacityAsSell.value==='' ||
      capacityAsSell.value===null ||
      capacityAsSell.value===undefined || 
      priceNegotiableLevel.value===''"
      (click)="dismissModal()" fill="solid" expand="block" color="primary">Next</ion-button>
  </ion-toolbar>
</ion-footer>