<ion-header>
  <ion-toolbar>
    <ion-title>Post your item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row align-items-center>
      <ion-col size="3"></ion-col>
      <ion-col align-self-center>
        <ion-button (click)="showBasicInfoModal()">Basic Information</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-icon name="arrow-round-down"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col size="3"></ion-col>
      <ion-col align-self-center>
        <ion-button [disabled]="!enableDetailInfo" (click)="showDetailInfoModal()">Detail Information</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col>
          <ion-icon name="arrow-round-down"></ion-icon>
        </ion-col>
      </ion-row>

    <ion-row align-items-center>
      <ion-col size="3"></ion-col>
      <ion-col align-self-center>
        <ion-button [disabled]="!enableSellingInfo" (click)="showSellingInfoModal()">Selling Information</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col>
          <ion-icon name="arrow-round-down"></ion-icon>
        </ion-col>
      </ion-row>

    <ion-row align-items-center>
      <ion-col size="3"></ion-col>
      <ion-col align-self-center>
        <ion-button [disabled]="!enableUploadImg" (click)="showImageUploadModal()">Upload Image</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>