
<p>makeup form component works!</p>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Go Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="makeupForm">

    <ion-slides pager="true">


      <ion-slide>

        <ion-item>
          <ion-label position="floating">Brand Name</ion-label>
          <ion-input formControlName="itemBrand" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Item Name</ion-label>
          <ion-input formControlName="itemName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Selling Price</ion-label>
          <ion-input formControlName="priceAsSell" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Item Condition</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input></ion-input>
        </ion-item>


      </ion-slide>

      <ion-slide>

      </ion-slide>

    </ion-slides>

  </form>
</ion-content> -->