<ion-header>
  <ion-toolbar>
    <ion-title>Post your item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
      <ion-button (click)="showBasicInfoModal()">Basic Information</ion-button>
      <ion-button (click)="showDetailInfoModal()">Detail Information</ion-button>
      <ion-button (click)="showSellingInfoModal()">Selling Information</ion-button>
      <ion-button (click)="showImageUploadModal()">Upload Image</ion-button>
  </ion-list>


</ion-content>