<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="postingTab">
    <ion-router-outlet name="postingOutlet"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- tab-button matches tab above, to highlight the button to show which route is activated -->
    <!-- /tabs/(routes:pathName) -->
    <ion-tab-button tab="postingTab" href="/tabs/posting">
      <!-- TODO: find a icon for posting -->
      <ion-label>Post</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>