<ion-header>
  <ion-toolbar>
    <ion-title>Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="checkInit" fullscreen>
  <!-- <ion-button [disabled]="!(imageLoadedAmount<imageMaxAmount)" fill="solid" expand="full" color="primary" (click)="dismissModal()">
    Finished
  </ion-button> -->

  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-chip color="tertiary">
          <ion-label>Min 1 image</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="2" align-self-center>
        <ion-text>
          <ion-text color="pink">{{imageLoadedAmount}}</ion-text> of <ion-text color="pink">{{imageMaxAmount}}</ion-text>
        </ion-text>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-chip color="tertiary">
          <ion-label>Max 9 image</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-button [disabled]="!(imageLoadedAmount<imageMaxAmount)" fill="outline" expand="full" color="primary" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
    Take Photo
  </ion-button>

  <ion-button fill="outline" expand="full" color="primary" (click)="loadFromLibrary()">
    <ion-icon name="images"></ion-icon>
    Load Photo
  </ion-button>

  <p>{{testIamge}}</p>




  <ion-slides *ngIf="images.length>0" #previewSlides pager="true">
    <ion-slide (click)="imageDeleteActionSheet()" *ngFor="let image of images">
      <ion-img [src]="image"></ion-img>
    </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [attr.disabled]="imageLoadedAmount<1" (click)="dismissModal()" fill="solid" expand="block" color="primary">Next</ion-button>
  </ion-toolbar>
</ion-footer>