<ion-header>
  <ion-toolbar>
    <ion-title>Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-button [disabled]="!(imageLoadedAmount<imageMaxAmount)" fill="solid" expand="full" color="primary" (click)="dismissModal()">
    Finished
  </ion-button>

  <ion-button [disabled]="!(imageLoadedAmount<imageMaxAmount)" fill="outline" expand="full" color="primary" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
    Take Photo
  </ion-button>

  <ion-button fill="outline" expand="full" color="primary" (click)="loadFromLibrary()">
    <ion-icon name="images"></ion-icon>
    Load Photo
  </ion-button>

  <p>{{testIamge}}</p>




  <ion-slides *ngIf="images.length>0" #previewSlides pager="true">
    <ion-slide (click)="imageDeleteActionSheet()" *ngFor="let image of images">
      <ion-img [src]="image"></ion-img>
    </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button>Delete Photo</ion-button>
  </ion-toolbar>
</ion-footer>