<ion-header>
  <ion-toolbar>
    <ion-title>Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="checkInit" fullscreen>

  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-chip color="tertiary">
          <ion-label>Min 1 image</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="2" align-self-center>
        <ion-text>
          <ion-text color="tertiary">{{imageLoadedAmount}}</ion-text>
          <ion-text color="tertiary"> of </ion-text>
          <ion-text color="tertiary">{{imageMaxAmount}}</ion-text>
        </ion-text>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-chip color="tertiary">
          <ion-label>Max 9 image</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button [disabled]="!(imageLoadedAmount<imageMaxAmount)" fill="outline" expand="full" color="primary" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
    Take Photo
  </ion-button>

  <ion-button fill="outline" expand="full" color="primary" (click)="loadFromLibrary()">
    <ion-icon name="images"></ion-icon>
    Load Photo
  </ion-button>

  <ion-slides *ngIf="images.length>0" #previewSlides pager="false">
    <ion-slide *ngFor="let image of images; let i = index">
      <ion-grid>
        <ion-row>
          <ion-img [src]="image"></ion-img>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="setFirstImage()" [fill]="i===firstImageIndex ? 'solid' : 'outline'" expand="block"
              [color]="i===firstImageIndex ? 'pink' : 'tertiary'">
              {{i===firstImageIndex ? firstImageText : otherImageText}}</ion-button>
            <ion-button (click)="imageDeleteActionSheet()" fill="solid" expand="block" color="tertiary">Delete Image</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [attr.disabled]="imageLoadedAmount<1" (click)="dismissModal()" fill="solid" expand="block" color="primary">Next</ion-button>
  </ion-toolbar>
</ion-footer>