<ion-header>
  <ion-toolbar>
    <ion-title>Basic Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="basicInfoForm">


    <ion-item>
      <ion-label position="floating">Brand Name</ion-label>
      <ion-input formControlName="itemBrand" type="text"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="itemBrand.touched && itemBrand.hasError('required')">
      Brand Name Required!
    </ion-text>

    <ion-item>
      <ion-label position="floating">Item Name</ion-label>
      <ion-input formControlName="itemName" type="text"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="itemName.touched && itemName.hasError('required')">
      Item Name Required!
    </ion-text>

    <ion-item>
      <ion-label position="floating">Item Nick Name(optional)</ion-label>
      <ion-input formControlName="itemNickName" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Item Condition</ion-label>
      <ion-select formControlName="itemCondition" [interfaceOptions]="itemConditionActionSheet" interface="action-sheet"
        placeholder="Select One">
        <ion-select-option value="10">New-Brand New(10/10)</ion-select-option>
        <ion-select-option value="8">Used-Like New(8/10)</ion-select-option>
        <ion-select-option value="6">Used-Very Good(6/10)</ion-select-option>
        <ion-select-option value="4">Used-Good(4/10)</ion-select-option>
        <ion-select-option value="2">Used-Acceptible(2/10)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="itemCondition.touched && itemCondition.hasError('required')">
      Item Condition Required!
    </ion-text>

    <ion-item>
      <ion-label position="floating">Price As New(optional)</ion-label>
      <ion-input formControlName="priceAsNew" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Selling Price</ion-label>
      <ion-input formControlName="priceAsSell" type="number"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="priceAsSell.touched && priceAsSell.hasError('required')">
      Selling Price Required!
    </ion-text>

    <ion-item>
      <ion-label>Have Receipt(optional)</ion-label>
      <ion-select formControlName="haveReceipt" [interfaceOptions]="haveReceiptActionSheet" interface="action-sheet"
        placeholder="Select One">
        <ion-select-option value="true">Yes, I have Receipt</ion-select-option>
        <ion-select-option value="false">No, I don't have Receipt</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button [disabled]="itemBrand.value==='' || itemName.value==='' || itemCondition.value==='' || priceAsSell.value===''" (click)="dismissModal()">Next</ion-button>

  </form>
</ion-content>