<ion-header>
  <ion-toolbar>
    <ion-title>Posting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-item>
    <ion-select placeholder="Item Type" [(ngModel)]="selectedType" (ionChange)="itemTypeSelected()">
      <ion-select-option [value]="item" *ngFor="let item of itemTypes">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <div *ngIf="formReady">

    <div *ngIf="selectedType=='makeup'">
    </div>
  </div> -->
    
  <app-makeup-form></app-makeup-form>



</ion-content>